.App {
  text-align: center;
}

.Login{
  width: 50%;
  height: auto;
  margin: auto;
  justify-content: space-between;
}

.btn-primary {
      background-color: #F45C0B; /* Color de fondo del botón personalizado */
      border-color: #F45C0B; /* Color del borde del botón personalizado */
      color: #ffffff;
}

.custom-button:hover {
      background-color: #f8b48f; /* Color de fondo del botón personalizado cuando se pasa el cursor */
      border-color: #f8b48f; /* Color del borde del botón personalizado cuando se pasa el cursor */
    } 

.contentIndex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contentIndex a{
  text-decoration: none;
}

nav{
  margin-bottom: 15px;
}

.top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-modal{
  display: flex;
  flex-direction: column;
}

.form-modal input{
  margin-bottom: 10px;
}

